//-
    name: last
    description: Markup for the last block
    arguments:
        - {object} props - block properties

mixin last(data = {})
    .last&attributes(attributes)
        p.last__logo=data.logo
        .row
            .col-md-4
            .col-md-8
                p.last__page_descr=data.subtitle
                h1.last__wait=data.wait
                .last__footer
                    p.last__advice=data.advice
                    p.last__mail=data.mail
            img.last__rocket(src="./img/lastPage/2-layers.png", alt="alt")