//-
    name: info
    description: Markup for the info block
    arguments:
        - {object} props - block properties

mixin info(data = {})
    .info&attributes(attributes)
        p.info__logo=data.logo
        .container
            form.info__mainForm(action="mailto:help.dovidka.in.ua@gmail.com", enctype="text/plain", method="post")
                .info__slide(data-slide="first")
                    .info__title=data.title
                    .info__upperChoice
                        input(type="radio", id="first", name="rad", value="1" checked="checked" data-waschecked="true")
                        label.info__choice(for="first" )=data.first
                    .info__lowerChoice
                        input(type="radio",id="second" name="rad", value="2")
                        label.info__choice(for="second" )=data.second
                    img.info__pic_woman(src="../../img/page2/woman.png", alt="")
                    img.info__path_two(src="../../img/page2/3-layers.png", alt="")
                    a(class="js-btn btn-next", data-current="first", data-next="second") ДАЛІ
                
                .info__slide.info__slide_second.is-hidden(data-slide="second")
                    .info__title=data.fillTitle
                    .row
                        .col-md-6
                            p.info__fio=data.fio
                            .info__fio_fields
                                input(type="text", id="first_name", data-type="text", data-control="length", data-min="2", placeholder=data.name)
                                input(type="text", id="last_name", data-type="text", data-control="length", data-min="2", placeholder=data.lastName)
                                input(type="text", id="middle_name", data-type="text", data-control="length", data-min="2", placeholder=data.middleName)
                                p.info__descr.info__descr_fio=data.descr
                        .col-md-6
                            .info__btn.info__btn_next
                                a(class="js-btn btn-next", data-action="check", data-current="second", data-next="third") ДАЛІ
                                a(class="js-btn btn-next btn-next_skip", data-current="second", data-next="third") ПРОПУСТИТИ
                        .info__btn_prev
                            a(class="js-btn btn-prev", data-current="second", data-next="first") Назад



                .info__slide.info__slide_third.is-hidden(data-slide="third")
                    .info__title=data.fillTitle
                    p.info__passport=data.passport
                    .row
                        .col-md-6
                            .info__upper
                                input(type="name", id="info__series", placeholder=data.series)
                                input(type="name", id="info__numb", placeholder=data.numb)
                            input(type="name", id="info__ssn", placeholder=data.ssn)
                            p.info__idPass=data.idPass
                            input(type="name", id="info__pasNumb", placeholder=data.passNumb)
                            p.info__descr=data.descr
                        .col-md-6
                            button.btn(type="submit", class="slick-next slick-next_third btn-next") ДАЛІ
                            button.btn(type="button", class="slick-next btn-pass btn-pass_third ") ПРОПУСТИТИ
                        .info__btn_prev.info__btn_prev_third
                            label(for="btn-previous", class="info__prev_arrow")!=data.arrow
                            button(class="btn slick-prev", id="btn-previous", type="submit") Назад



                    
                .info__slide.info__slide_fourth.is-hidden
                    .info__title=data.fillTitle
                    p.info__adress=data.adress
                    .row
                        .col-md-6
                            .location
                                input(type="name", id="info__city", placeholder=data.city required)
                                input(type="name", id="info__region", placeholder=data.region required)
                                input(type="name", id="info__locality", placeholder=data.locality required)
                                input(type="name", id="info__street", placeholder=data.street required)
                                input(type="name", id="info__houseNumb", placeholder=data.houseNumb required)
                                input(type="name", id="info__houseblock", placeholder=data.houseblock required)
                            p.info__descr=data.descr
                        .col-md-6
                            button.btn(type="submit", class="slick-next slick-next_fourth btn-next") ДАЛІ
                        .info__btn_prev.info__btn_fourth
                            label(for="btn-previous", class="info__prev_arrow")!=data.arrow
                            button(class="btn slick-prev", id="btn-previous", type="submit") Назад




                .info__slide.info__slide_fifth.is-hidden
                    .info__contactTitle=data.contactTitle
                    .row
                        .col-md-6
                            .info__contact
                                p.info__phone=data.phone
                                input(type="text", id="phone", placeholder=data.number, required)
                                p.info__email=data.email
                                input(type="email", id="email", placeholder=data.examp required)
                        .col-md-6
                            button.btn(type="submit", class="slick-next slick-next_fifth btn-next") ОТРИМАТИ


                .info__slide.info__slide_sixth.is-hidden
                    .row
                        .col-md-6
                        h1.info__payTitle=data.payTitle
                        p.info__paySubtitle=data.paySubtitle
                        .col-md-6
                            a(href="./lastPage.html", class="slick-next slick-next_sixth btn-link") ОПЛАТИТИ